/* You can add global styles to this file, and also import other style files */

// Notification Services
.snack-success { background-color: #4caf50; color: white; }
.snack-error { background-color: #f44336; color: white; }
.snack-info { background-color: #2196f3; color: white; }
.snack-warn { background-color: #ff9800; color: white; }
